.header{
	background-color : #F66442;
	font-family:Arial;
	padding:60px;
	font-size:40px;
	color:white;
}
.middle
{
	font-color:black;
	font-size: 30px;
	font-family:Arial;
	text-align: center;
	margin:15px;
}
.logo {
	
	
	width:45%;
	float: left;
	margin-left: 13%;

}
.image
{
	padding-left:30px; 
}

.pull-left
{
	float:left;
	padding-left: 65px;
	padding-top: 17px;
	font-weight: bold;
	font-size: 25px;
	line-height: 45px;
}

.master{
	margin-top:20px;
	width:100%;
	float: left;
}


.pull-right
{

	float:right;
	line-height:45px;
	font-weight: bold;
	font-size: 25px;
	padding-top: 9px;


}
.sad{


	float: right;
	width:45%;
	padding-left: 20px;
	margin-right:-21%; 
	}
.btn
{
	border: 1px;
	width:100%;
	height:250%;
	
	padding-left: 45px;
}
.end
{
	margin-top:45px; 
	border: 20px;

}
.background{background-color: pink}

.btn-center{
text-align: center;
font-size:45%;



}
.btn-center input{
background:#244697;
border-radius: 7px;
padding: 10px;
padding-right: 30%;
padding-left: 20%;
font-size:25px;
color:white;
size:20px;

/*<!-- 4A65A6-->*/
}

.padding
{

	padding:23px;
}